<%- include('../header.ejs') %>
    <body>
        <%- include('../navigation.ejs') %>
        <content class="content">
            

            <div class="container">
                <form  method="POST" action="<%= action %>">
                  <input type="hidden" name="productid" value="<%= (productData && productData._id) ? productData._id : '' %>" />
                  <div class="row">
                    <div class="col-25">
                      <label for="fname">Name</label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="name" name="name" placeholder="Your name.." 
                      value="<%= (productData && productData.title) ? productData.title : '' %>">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="lname">Price</label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="price" name="price" placeholder="price" 
                      value="<%= (productData && productData.price) ? productData.price : ''  %>">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="subject">Description</label>
                    </div>
                    <div class="col-75">
                      <textarea id="description"
                        name="description" placeholder="description.." style="height:200px">
                        <%= (productData && productData.price) ? productData.description : ''  %>
                       
                      </textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                      <label for="lname">Imageurl</label>
                    </div>
                    <div class="col-75">
                      <input type="text" id="imageurl" name="imageurl" 
                        placeholder="imageurl" 
                        value="<%= (productData && productData.price) ? productData.imageurl : ''  %>" >
                    </div>
                  </div>
                  <div class="row">
                    <input type="submit" value="Submit">
                  </div>
                </form>
              </div>
        </content>
<%- include('../footer.ejs') %>